:root {
	--color-primary: #020210;
	--color-secondary: #1c1a29;
	--color-highlight: #63697b;
	--color-text-white: #fff;
	--color-text-primary: #c1c1c1;
	--color-text-secondary: #ababab;

	--transition-default: .3s all ease-in-out;
}

*, ::after, ::before {
	box-sizing: border-box
}

.container {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-right: auto;
	margin-left: auto
}

@media (min-width: 576px) {
	.container, .container-sm {
		max-width: 540px
	}
}

@media (min-width: 768px) {
	.container, .container-md, .container-sm {
		max-width: 720px
	}
}

@media (min-width: 992px) {
	.container, .container-lg, .container-md, .container-sm {
		max-width: 960px
	}
}

@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1140px
	}
}

@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1320px
	}
}

a {
	color: #00c9ff;
}

body {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100vh;
	color: var(--color-text-primary);
	background-color: var(--color-primary);
	font: normal 400 14px/1.5 'Roboto', sans-serif;
	text-align: left;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}

.section-gap {
	padding: 30px 0;
}

.section-heading {
	text-align: center;
}

.section-heading .heading-title {
	font-size: 3em;
	font-weight: 700;
	color: var(--color-text-white);
}

.section-heading .heading-description {
	font-size: 1.075em;
	color: var(--color-text-secondary);
	max-width: 991px;
	margin: 8px auto 0;
}

.section-wrapper {
	background: #1C1A29;
	padding: 50px 0;
}

.section-filter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 768px;
	margin: 0 auto;
	gap: 30px;
}

.section-filter .filter-item {
	width: 50%;
	max-width: calc(50% - 15px);
	position: relative;
	display: flex;
	align-items: center;
	gap: 6px;
	flex-shrink: 0;
}

.section-filter .filter-item .filter-item_title {
	font-size: 1.075em;
	color: var(--color-text-secondary);
	flex-shrink: 0;
}

.section-filter .filter-item .filter-item_select {
	flex: 1;
	min-width: 0;
}

.section-filter .filter-item .filter-item_select .select2-container {
	width: 100%;
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--single {
	background: #14121a;
	border: 1px solid #3f4160;
	height: 36px;
}

.section-filter .filter-item .filter-item_select .select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 36px;
	color: var(--color-text-secondary);
	padding-left: 8px;
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 32px;
	width: 26px;
}

.section-filter .filter-item .filter-item_select .select2-container .select2-search--dropdown {
	padding: 8px 12px;
	border-bottom: 1px solid #3f4160;
}

.section-filter .filter-item .filter-item_select .select2-container .select2-search--dropdown .select2-search__field {
	background: #201d28;
	border-color: #3f4160;
	border-radius: 4px;
	min-height: 32px;
	outline: none;
	box-shadow: none;
	padding: 6px 10px;
	color: var(--color-text-secondary);
}

.section-filter .filter-item .filter-item_select .select2-container .select2-dropdown {
	background: #14121a;
	border-color: #3f4160;
}

.section-filter .filter-item .filter-item_select .select2-container .select2-results > .select2-results__options {
	max-height: 315px;
}

.section-filter .filter-item .filter-item_select .select2-container .select2-results > .select2-results__options::-webkit-scrollbar {
	width: 5px;
}

.section-filter .filter-item .filter-item_select .select2-container .select2-results > .select2-results__options::-webkit-scrollbar-track {
	background: #201e25;
}

.section-filter .filter-item .filter-item_select .select2-container .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
	background: #333131;
	border-radius: 50px;
}

.section-filter .filter-item .filter-item_select .select2-container .select2-results__option {
	color: var(--color-text-secondary);
	padding: 7px 8px;
	transition: var(--transition-default);
}

.section-filter .filter-item .filter-item_select .select2-container .select2-results__option:hover,
.section-filter .filter-item .filter-item_select .select2-container .select2-results__option.select2-results__option--highlighted {
	background: transparent;
	color: var(--color-text-white);
}

.section-filter .filter-item .filter-item_select .select2-container .select2-results__option[aria-selected=true] {
	background: rgba(229, 229, 229, 0.1);
	color: var(--color-text-white);
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--multiple {
	position: relative;
	padding-right: 30px;
	cursor: pointer;
	background: #14121a;
	border: 1px solid #3f4160;
	height: 36px;
	padding-left: 2px;
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--multiple:before {
	border-color: #888 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	right: 10px;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
	display: block;
	content: "";
}

.section-filter .filter-item .filter-item_select .select2-container--default.select2-container--open .select2-selection--multiple:before {
	transform: rotate(180deg);
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--multiple .select2-selection__choice {
	background: rgba(229, 229, 229, 0.1);
	border-color: rgba(229, 229, 229, 0.1);
	color: var(--color-text-white);
	white-space: nowrap;
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-search--inline .select2-search__field {
	color: var(--color-text-white);
	margin-top: 9px;
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: var(--color-text-white);
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--multiple .select2-selection__rendered {
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	white-space: normal;
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar {
	height: 5px;
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-track {
	background: #201e25;
}

.section-filter .filter-item .filter-item_select .select2-container--default .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-thumb {
	background: #333131;
	border-radius: 50px;
}

.section-chart {
	padding-top: 50px;
}

.section-chart .chart-title {
	font-size: 1.75em;
	font-weight: 700;
	color: var(--color-text-white);
	text-align: center;
}

.section-chart .chart-desc {
	margin-top: 3px;
	margin-bottom: 30px;
	font-size: 1.075em;
	color: var(--color-text-secondary);
	text-align: center;
}

.section-chart .chart-desc b,
.section-chart .chart-desc strong {
	color: var(--color-text-white);
}


.section-chart .chart-preview {
	padding: 30px 30px 0;
	background: #201d2a;
}

.section-description {
	text-align: center;
	padding-top: 50px;
}

.section-description .description-title {
	font-size: 1.75em;
	font-weight: 700;
	color: var(--color-text-white);
}

.section-description .description-text {
	font-size: 1.075em;
	color: var(--color-text-secondary);
	margin-top: 8px;
}

.section-description .description-text p,
.section-description .description-text ol,
.section-description .description-text ul {
	margin-bottom: 8px;
	margin-top: 0;
}

.section-description .description-text p:last-child,
.section-description .description-text ol:last-child,
.section-description .description-text ul:last-child {
	margin-bottom: 0;
}

.section-description .description-text b,
.section-description .description-text strong {
	color: var(--color-text-white);
}

.section-item + .section-item {
	border-top: 1px solid #3b3a3a60;
	margin-top: 50px;
}